*.swp
*.o
*.a
*.so
python/*.gif
examples/fbuf
examples/step
examples/test
examples/interp
examples/video
examples/sdlscale
examples/rawrgb
examples/hotspot
bcm2835-*
*.egg-info
*.py[cod]
python/library/build
python/library/dist
